adf-metadata-procfwk/PartialArmTemplates/ArmTemplate_10_26_2021_21_2_32.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-metadata-procfwk"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Sample Source')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Update Impact Count",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "run sample SP through lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "procfwk.SetImpactCount",
							"storedProcedureParameters": {
								"AffectedRecordCount": {
									"value": {
										"value": "@activity('run sample SP through lookup').output.firstRow.AffectedRecordCount\n",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"AffectedTable": {
									"value": {
										"value": "@activity('run sample SP through lookup').output.firstRow.AffectedTable",
										"type": "Expression"
									},
									"type": "String"
								},
								"AffectedTableSchema": {
									"value": {
										"value": "@activity('run sample SP through lookup').output.firstRow.AffectedTableSchema",
										"type": "Expression"
									},
									"type": "String"
								},
								"AffectedByExecutionId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "Guid"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SupportDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "run sample SP through lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USPInsertSampleSource]",
								"storedProcedureParameters": {
									"AffectedByExecutionId": {
										"type": "Guid",
										"value": "9598a701-49ab-4e2a-9fbf-6ee1e1d8bcdf"
									},
									"AffectedRecordCount": {
										"type": "Int32",
										"value": "0"
									},
									"AffectedTable": {
										"type": "String",
										"value": "dd"
									},
									"AffectedTableSchema": {
										"type": "String",
										"value": "dd"
									},
									"ExecutionId": {
										"type": "Guid",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "GetSetMetadata",
								"type": "DatasetReference"
							}
						}
					}
				],
				"parameters": {
					"WaitTime": {
						"type": "int",
						"defaultValue": 0
					}
				},
				"variables": {
					"ImpactTableSchema": {
						"type": "String"
					},
					"ImpactTableName": {
						"type": "String"
					},
					"ImpactCount": {
						"type": "String"
					},
					"ImpactExecutionId": {
						"type": "String"
					}
				},
				"folder": {
					"name": "_Workers/_Template"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "run sample stored proc",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USPInsertSampleSource]",
							"storedProcedureParameters": {
								"AffectedByExecutionId": {
									"value": "9598a701-49ab-4e2a-9fbf-6ee1e1d8bcdf",
									"type": "Guid"
								},
								"AffectedRecordCount": {
									"value": "0",
									"type": "Int32"
								},
								"AffectedTable": {
									"value": "dummy",
									"type": "String"
								},
								"AffectedTableSchema": {
									"value": "dummy",
									"type": "String"
								},
								"ExecutionId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "Guid"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SupportDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "_Workers/_Template"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}