DataFactory/pipeline/Sample Stage.json
{
	"name": "Sample Stage",
	"properties": {
		"activities": [
			{
				"name": "Update Impact Count",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "run load SP through lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "procfwk.SetImpactCount",
					"storedProcedureParameters": {
						"AffectedRecordCount": {
							"value": {
								"value": "@activity('run load SP through lookup').output.firstRow.AffectedRecordCount\n",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"AffectedTable": {
							"value": {
								"value": "@activity('run load SP through lookup').output.firstRow.AffectedTable",
								"type": "Expression"
							},
							"type": "String"
						},
						"AffectedTableSchema": {
							"value": {
								"value": "@activity('run load SP through lookup').output.firstRow.AffectedTableSchema",
								"type": "Expression"
							},
							"type": "String"
						},
						"AffectedByExecutionId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SupportDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "run load SP through lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[srcStg].[USPInsertSampleStage]",
						"storedProcedureParameters": {
							"AffectedByExecutionId": {
								"type": "Guid",
								"value": "9598a701-49ab-4e2a-9fbf-6ee1e1d8bcdf"
							},
							"AffectedRecordCount": {
								"type": "Int32",
								"value": "0"
							},
							"AffectedTable": {
								"type": "String",
								"value": "dd"
							},
							"AffectedTableSchema": {
								"type": "String",
								"value": "dd"
							},
							"ExecutionId": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetSetMetadata",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"WaitTime": {
				"type": "int",
				"defaultValue": 0
			}
		},
		"variables": {
			"ImpactTableSchema": {
				"type": "String"
			},
			"ImpactTableName": {
				"type": "String"
			},
			"ImpactCount": {
				"type": "String"
			},
			"ImpactExecutionId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "_Workers/_Template"
		},
		"annotations": []
	}
}