DataFactory/pipeline/Sample Source.json
{
	"name": "Sample Source",
	"properties": {
		"activities": [
			{
				"name": "Update Impact Count",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "run sample stored proc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "procfwk.SetImpactCount",
					"storedProcedureParameters": {
						"AffectedRecordCount": {
							"value": {
								"value": "@activity('run sample stored proc').output.AffectedRecordCount",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"AffectedTable": {
							"value": {
								"value": "@activity('run sample stored proc').output.AffectedTable",
								"type": "Expression"
							},
							"type": "String"
						},
						"AffectedTableSchema": {
							"value": {
								"value": "@activity('run sample stored proc').output.AffectedTableSchema",
								"type": "Expression"
							},
							"type": "String"
						},
						"AffectedByExecutionId": {
							"value": {
								"value": "@activity('run sample stored proc').output.AffectedByExecutionId",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SupportDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "run sample stored proc",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USPInsertSampleSource]",
					"storedProcedureParameters": {
						"AffectedByExecutionId": {
							"value": "9598a701-49ab-4e2a-9fbf-6ee1e1d8bcdf",
							"type": "Guid"
						},
						"AffectedRecordCount": {
							"value": "0",
							"type": "Int32"
						},
						"AffectedTable": {
							"value": "dummy",
							"type": "String"
						},
						"AffectedTableSchema": {
							"value": "dummy",
							"type": "String"
						},
						"ExecutionId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SupportDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"WaitTime": {
				"type": "int",
				"defaultValue": 0
			}
		},
		"variables": {
			"ImpactTableSchema": {
				"type": "String"
			},
			"ImpactTableName": {
				"type": "String"
			},
			"ImpactCount": {
				"type": "String"
			},
			"ImpactExecutionId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "_Workers/_Template"
		},
		"annotations": []
	}
}